* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1450px;
  margin: auto;
}

/*!! Header */

.header-up {
  display: flex;
  border-bottom: 1px solid #acacac;
  padding: 12px 2px;
  column-gap: 30px;
  align-items: center;
}

.header-up span {
  background-color: #008368;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.header-up p {
  color: #008368;
  font-weight: 700;
  font-size: 11px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  align-items: center;
}

.header-left a i {
  font-size: 40px;
  color: black;
}

.header-center {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
}

.header-center input {
  padding-left: 30px;
  outline: none;
  border: #2c72a1 solid 0.2px;
  width: 100%;
  height: 34px;
  border-radius: 15px;
}

.header-center i {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 18px;
  color: #2c72a1;
  font-weight: 700;
}
.header-center button {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  padding: 9px 35px;
  right: 0;
  background-color: #2c72a1;
  color: white;
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header-right {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.header-right a i {
  font-size: 30px;
  color: #008368;
}

.header-right a i.bi-person {
  font-size: 38px;
}

.basket {
  position: relative;
}
.header-right span {
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: aliceblue;
  background-color: orange;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  margin-left: -10px;
}

/*!!  Hambo side bar start   */
.side-bar {
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 38%;
  height: 100%;
  top: 0;
  display: none;
  left: -100%;
}
.side-bar.active {
  left: 0;
  display: block;
}

.side-bar-close i {
  font-size: 20px;
  font-weight: 900;
  float: right;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
}

.side-bar-wrapper {
  padding: 30px;
  border-right: 10px solid lightgray;
}

.side-bar-wrapper ul li {
  padding: 15px 10px;
  border-top: 1px solid #8888;
  display: flex;
  justify-content: space-between;
  color: dimgray;
  font-weight: 700;
  font-size: 15px;
}

.side-bar-button {
  display: flex;
  column-gap: 20px;
}

.uye-girişi-btn {
  width: 280px;
  height: 40px;
  background-color: #008368;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
}
.uye-girişi-btn:hover {
  background-color: darkgreen;
}

.uye-ol-btn {
  width: 280px;
  height: 40px;
  background-color: gray;
  border: none;
  cursor: pointer;
  color: white;
}
.uye-ol-btn:hover {
  background-color: darkgrey;
}

/*!!  Hambo side bar end   */

/* Media header swiper */
.media-slider {
  display: none;
}

/* !! Header */
/* !! Navbar start */

nav {
  width: 100%;
}
.navigations ul {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 20px 100px;
}
.navigations ul a li {
  color: #1b5a85;
  font-weight: 600;
  font-size: 14px;
}

/* !! Navbar end*/
/* !!SLİDER START */

.swiper-slide {
  position: relative;
}
.slider-in {
  position: absolute;
  top: 35%;
  left: 120px;
  width: 500px;
}

.slider-title {
  display: flex;
}
.slider-title i {
  border-left: 2px solid white;
  padding-left: 15px;
  font-size: 60px;
  color: orange;
}
.slider-title h2 {
  font-weight: 400;
  font-size: 40px;
  padding-left: 20px;
  color: aliceblue;
}

.slider-title h2 span {
  font-weight: 900;
}

.slider-in p {
  color: aliceblue;
  margin-top: 20px;
  padding-left: 15px;
}
.slider-in button {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  padding: 9px 30px;
  border-radius: 50px;
  background: none;
  color: white;
  border: orange 3px solid;
  cursor: pointer;
}
.slider-in button:hover {
  background-color: orange;
}

/* !! Banners  start */

.banner-wrapper {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  column-gap: 20px;
  row-gap: 20px;
}

.banner img {
  width: 100%;
}

.banner-text {
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  background-color: grey;
  align-items: center;
}
.banner-text:hover {
  background-color: darkblue;
}

.banner-text h2 {
  color: white;
  font-size: 20px;
}

.banner-text a i {
  font-size: 23px;
  color: white;
}

/* !! Banners  end */

/* !! Tab Menu start */
.tab-menu-wrapper {
  display: flex;
  column-gap: 40px;
}

.tab {
  float: left;
  width: 20%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 12px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
  font-size: 12px;
  font-weight: 700;
}

/* Create an active/current "tab button" class */
.tab button.active {
  border: 2px solid #008368;
  border-radius: 10px;
  color: #008368;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
}
//* ?? Tab menu slider start */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.product-card img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-card {
  width: 100%;
  height: auto;
}
.product-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-name span {
  margin-top: 10px;
  font-weight: 900;
}

/* ?? Tab menu slider end  */

/* !! Tab Menu end */

/* !! Blog Start */
.Blog-title {
  padding: 20px 0px;
}

.Blogs {
  display: flex;
  column-gap: 40px;
}

.blog {
  width: 25%;
}

.blog a img {
  width: 100%;
}

.blog a h2 {
  font-size: 18px;
  font-weight: 900;
  color: black;
  border-bottom: 1px solid #8888;
  padding-bottom: 10px;
}

.blog-button {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.blog-button h6 {
  font-size: 13px;
}
.blog-button p {
  font-size: 10px;
}

.blog-button button {
  padding: 10px 20px;
  background-color: #008368;
  color: white;
  font-weight: 900;
  outline: none;
  border: none;
  cursor: pointer;
}

.blog-button button:hover {
  background-color: darkgreen;
}

/* !! Blog end */

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
}

.icon-img img {
  width: 90%;
}

/* !! Footer start */

footer {
  background-color: #1b5a85;
}

.footer-wrapper {
  padding: 100px 230px;
  display: flex;
  justify-content: space-between;
}

.footer-staff h4 {
  color: white;
  font-size: 15px;
}
.footer-staff span {
  display: block;
  height: 3px;
  background: orange;
  width: 40px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer-staff ul a li {
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-staff ul li {
  color: white;
  margin-bottom: 10px;
}

.footer-down {
  background-color: #008368;
  display: flex;
  justify-content: center;
  padding: 12px;
  column-gap: 10px;
}

.footer-down2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-down2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-weight: 500;
}
.footer-down2 p img {
  width: 100px;
  height: auto;
  margin-left: 15px;
}
.footer-down2 p span {
  font-weight: 700;
  color: #2c72a1;
  margin-left: 10px;
}

/* !! Footer end */ ////////////////

@media (max-width: 1440px) {
  .banner-text h2 {
    font-size: 15px;
  }
  .banner-text a i {
    font-size: 15px;
  }
  .header-up {
    column-gap: 20px;
  }
  .header-up p {
    font-size: 10px;
  }
  .navigations ul {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    padding: 20px 30px;
  }
  .navigations ul a li {
    color: #1b5a85;
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 1366px) {
  .banner-text h2 {
    font-size: 14px;
  }
  .banner-text a i {
    font-size: 15px;
  }
  .header-up {
    column-gap: 10px;
  }
  .header-up p {
    font-size: 8px;
  }
  .navigations ul {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 20px 30px;
  }
  .navigations ul a li {
    color: #1b5a85;
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .header-right {
    padding-right: 15px;
  }

  .header-center {
    position: absolute;
    margin-top: 90px;
    width: 100%;
  }
  .navigations ul {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    padding: 20px 30px;
  }
  .navigations ul a li {
    color: #1b5a85;
    font-weight: 600;
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .banner-text h2 {
    font-size: 15px;
  }
  .banner-text a i {
    font-size: 15px;
  }
  .navigations ul {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 20px 30px;
  }
  .navigations ul a li {
    color: #1b5a85;
    font-weight: 600;
    font-size: 8px;
  }

  .header-up {
    column-gap: 10px;
  }
  .header-up p {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  .header-up {
    display: none;
  }
  header {
    margin-bottom: 30px;
  }

  .media-slider {
    display: block;
    border-bottom: 1px solid #acacac;
    padding: 15px 15px;
    color: #008368;
    font-weight: 700;
    font-size: 12px;
  }
  .side-bar {
    width: 70%;
  }
  .navigations {
    display: none;
  }
  .footer-wrapper {
    padding: 20px 5px;
    column-gap: 10px;
  }
  .footer-staff h4 {
    color: white;
    font-size: 12px;
  }
  .footer-staff span {
    display: block;
    height: 3px;
    background: orange;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .footer-staff ul a li {
    color: white;
    font-size: 8px;
    margin-bottom: 10px;
  }

  .footer-staff ul li {
    color: white;
    margin-bottom: 10px;
    font-size: 8px;
  }
  .footer-down img {
    width: 7%;
    height: auto;
  }

  .icon-wrapper {
    padding: 20px 0px;
  }

  .Blogs {
    padding: 20px;
    display: grid;
    grid-template-columns: 45% 45%;
    row-gap: 30px;
  }
  .blog {
    width: 100%;
  }
  .blog p {
    padding: 10px 0px;
  }

  .blog-button h6 {
    display: none;
  }
  .blog-button p {
    display: none;
  }

  .blog-button {
    float: left;
  }
  .blog-button button {
    float: left;
    width: 120px;
    height: 40px;
    background-color: #008368;
    color: white;
    font-weight: 900;
    font-size: 8px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .slider-in {
    top: 10%;
    width: 400px;
    left: 20px;
  }

  .slider-title h2 {
    font-size: 20px;
  }
  .slider-title i {
    font-size: 20px;
  }
  .slider-in p {
    font-size: 10px;
  }
  .slider-in button {
    font-size: 5px;
    padding: 10px 5px;
  }

  .porvaletti {
    margin: 20px 0px;
  }

  .tab-menu-wrapper {
    display: block;
    width: 100%;
  }
  .tab button {
    font-size: 10px;
  }

  .tab {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 20px 20px;
    width: 90%;
    height: 100px;
    column-gap: 10px;
  }
  .tab button {
    padding: 20px 10px;
    text-align: center;
  }
  .tabcontent {
    width: 92%;
    margin: 20px 0px;
  }

  .banner-wrapper {
    padding: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  .banner-text h2 {
    font-size: 10px;
  }
  .banner-text a i {
    font-size: 15px;
  }
}
